$sidebar-bg-color: #222831;
// $sidebar-bg-color: #ff9b9b !default;
// $sidebar-color: #adadad !default;
// $sidebar-width: 250px !default;
$sidebar-collapsed-width: 65px !default;
// $highlight-color: #d8d8d8 !default;
// $submenu-bg-color: #2b2b2b !default;
// $submenu-bg-color-collapsed: #2b2b2b !default;

// $icon-size: 35px;
// $breakpoint-xs: 480px !default;
// $breakpoint-sm: 576px !default;
// $breakpoint-md: 768px !default;
// $breakpoint-lg: 992px !default;
// $breakpoint-xl: 1200px !default;
// $sidebar-bg-color: #b86161;
$primary-color: #32e0c4;
$primary-bg-color:#222831;
$secondary-bg-color:#21252b;

@import '~react-pro-sidebar/dist/scss/styles.scss';
body{
    font-family: 'PT Sans Narrow', sans-serif;
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
}

.Conatiner{
    display: flex;

    
}

.Menu_Wrapper{
    height: 100vh;
    z-index: +1000;
    // margin-right:5px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

}
.Menu_items{
    // margin:auto ;
    margin: 260px auto 0 auto ;
    display: flex;
    flex-direction: column;
}
.Menu_item_container{
    display: flex;
    align-items:center;
    flex-direction: column;
    margin: 0.5rem auto;


}
.Menu_Buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 40px;
    width: 40px;
    /***********NeuMorphism*************/
    border-radius: 50%;
    background: #222831;
    // box-shadow: 2px 2px 2px #1f1f1f;
    

                
    transition: all 0.2s ease-in;
    &:hover{
        background: #32e0c4;
        // margin-bottom:1.5rem;
        .Custom_Svg{
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(91deg) brightness(108%) contrast(102%);
        }
        .mytooltip{
            // display:inline;
            color: red;
        }
    }
    &:hover + .mytooltip{
        visibility: visible;
        opacity: 1;
        
        transition: all 0.1s linear;
        margin-top: 8px;
    }
    
   
}

.mytooltip{
    visibility: hidden;
    opacity: 0;
    // margin-top: -20px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $primary-color;
    transition: display 0.2s ease-in;
}
.Custom_Svg{
    height:20px;
    width:20px;
    filter: invert(70%) sepia(100%) saturate(339%) hue-rotate(111deg) brightness(93%) contrast(88%);
}

.btn_toggle{
    display: none;
}



.Sample{
    height:200vh;
}

.hero_container{
    z-index: -5;
 display:block;
}

.hero_content{
    overflow: hidden;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, transparent 49.62%, #32e0c31a 49.62%, #32e0c31a 50%, transparent 50%, transparent 99.62%, #32e0c31a 99.62%, #32e0c31a 100%);
    background-size: 262.00px 262.00px;
}
.Call_to_action{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
    font-size:3.5rem;

        .SocialLinks{
            display:block;
            font-size:11px;
            margin-top: 20px;
            ul{
                padding: 0;
                li{
                    display:inline-block;
                    margin: 0 8px;
                    opacity: 0.5;
                    
                    transition:  0.2s all linear;
                    &:hover{
                        // font-size:16px;
                        opacity: 1;
                        
                    }
                }
            }
            
        }
        @keyframes example {
            0%   {color: $primary-color;}
            25%  {color: #709dff;}
            50%  {color: #514efa;}
            75%  {color: #709dff;}
            100% {color: $primary-color;}
          }
          
          /* The element to apply the animation to */
          
          span {
           
            
            animation-name: example;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          p{
              font-size: 1.1rem;
              font-family: 'Alegreya Sans', sans-serif;
              max-width: 53ch;
              margin: 0.1rem;
          }
          
   
}
.Call_Buttons_Container{
    display:flex;
    justify-content: space-evenly;
    div{
        a{
       

            letter-spacing:2px;
            // font-weight: lighter;
            display:inline-block;
            text-align:center;
            color:inherit;
            width:150px;
            font-size: 0.9rem;
      
            padding:7px 0px;
            border:2px solid $primary-color;
            border-radius:7px;
            position:relative;
            margin: 0 15px;
            // box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
            z-index:2;
            &:before{
                content:'';
                -webkit-transition:0.5s all ease;
                transition:0.5s all ease;
                position:absolute;
                top:0;
                left:50%;
                right:50%;
                bottom:0;
                
                opacity:0;
                content:'';
                background-color:$primary-color;
                z-index:-1;
            }
            &:hover{
                text-decoration: none;

                &:before {
                    -webkit-transition:0.5s all ease;
                    transition:0.5s all ease;
                    left:0;
                    right:0;
                    opacity:1;
                  }
            }
           
        }
    }

}
.polkas{
    position:absolute;
    top: 103%;
    left: -10%;
    height: 300px;
    width:650px;
    z-index: -10;
    
}

/****************************************************************************************************************/
/****************************************************************************************************************/
/******************************************Responsive************************************************************/
/****************************************************************************************************************/
/****************************************************************************************************************/
@media only screen 
 
and (max-device-width : 768px) {
    
    .btn_toggle{
        display: block;
    }
/* Styles */

}